body
{
	color:Black;
}
HR
{
	color:#b0c4de;
}
/*
	ボディー
*/
.RichBody
{
	margin-top:0;
	margin-left:0;
	margin-right:0;
}
/*
	ボタン(トップページのメニューボタン)
*/
.RichMenuButton
{
	background-color: Lavender;
	font-weight:bold;
	font-size:medium;
	border-style:outset;
	/*border-width:2;
	width:200;
	height:40;*/
}
/*
	ボタン
*/
.RichButton
{
	background-color: Lavender;
	font-size:medium;
	font-weight:bold;
	border-style:outset;
	border-width:thin;
	/*width:100;
	height:40;*/
}
/*
	メインタイトル（○○大学 学生情報システム）
*/
.RichTitle
{
	background-color: #9c6531;
	color:White;
}
/*
	サブタイトル（【休講情報】etc）
*/
.RichCaption
{
	color:#990000;
}
/*
	テキスト
*/
.RichText
{
	color:#8C4510;
}
/*
	成績評点入力テキストボックス
*/
.RichTextScore
{
	/*width:30;*/
}
/*
	成績入力エラー行
*/
.RichErrRow
{
	background-color:Red;
}
/*
	ボディー(印刷ウィンドウ用)
*/
.RichPrintBody
{
}
